@model carEVA.Models.Course

@{
    ViewBag.Title = "Crear";
}

<h2>Crear Curso</h2>
<p>Cree un curso agregando una Descripcion y un titulo, luego podra editarlo para agregar Lecciones</p>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.organizationCourse.FirstOrDefault().creationDate, htmlAttributes: new { @class = "evaCreationDate" })
        @*@Html.Hidden("creationDate", DateTime.Now, new {@class = "evaCreationDate" })*@
        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.commitmentDays, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.commitmentDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.commitmentDays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.commitmentHoursPerDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.commitmentHoursPerDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.commitmentHoursPerDay, "", new { @class = "text-danger" })
            </div>
        </div>

        @* organization course related information fields *@

        <div class="form-group">
            @Html.LabelFor(model => model.organizationCourse.FirstOrDefault().originArea, "Area de Origen",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("originAreaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.organizationCourse.FirstOrDefault().originArea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.organizationCourse.FirstOrDefault().required, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.organizationCourse.FirstOrDefault().required, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.organizationCourse.FirstOrDefault().required, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.organizationCourse.FirstOrDefault().deadline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.organizationCourse.FirstOrDefault().deadline, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.organizationCourse.FirstOrDefault().deadline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Ir a lista de cursos", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");

<script type="text/javascript">
    $(function () {
        var today = new Date();
        var dd = today.getDate();
        var MM = today.getMonth() + 1; //January is 0!
        var hh = today.getHours();
        var mm = today.getMinutes();
        var ss = today.getSeconds();

        var yyyy = today.getFullYear();
        //formating: add a preceding 0 for values less than 10
        dd = dd < 10 ? '0' + dd : dd;
        MM = MM < 10 ? '0' + MM : MM;
        hh = hh < 10 ? '0' + hh : hh;
        mm = mm < 10 ? '0' + mm : mm;
        ss = ss < 10 ? '0' + ss : ss;

        var today = dd + '/' + MM + '/' + yyyy + ' '+ hh + ':' + mm + ':' + ss;
        $('#creationDate').val(today);
    })
</script>
}


