@model carEVA.ViewModels.CoursesViewModels

@{
    ViewBag.Title = "Editar";
}

<h2>Editar informacion del curso</h2>
<p>Edite la informacion basica del curso en esta pagina, para agregar informacion al curso como capitulos y lecciones
    haga click en el boton de Agregar Capitulo</p>

@if (Model.isInternal)
{
    <h2>interno</h2>
}
else
{
    <h2>externo</h2>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @* not editable course fields *@
        @Html.HiddenFor(model => model.course.CourseID)
        @Html.HiddenFor(model => model.course.evaImageID)
        @Html.HiddenFor(model => model.course.totalLessons)
        @Html.HiddenFor(model => model.course.totalQuizes)
        @Html.HiddenFor(model => model.course.evaInstructorID)
        @* not editable organization course fields *@
        @Html.HiddenFor(model => model.organizationInfo.creationDate)
        @Html.HiddenFor(model => model.organizationInfo.evaOrganizationCourseID)
        @Html.HiddenFor(model => model.organizationInfo.evaOrganizationID)
        @Html.HiddenFor(model => model.organizationInfo.courseID)

        <div class="form-group">
            @Html.LabelFor(model => model.course.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.course.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.course.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.course.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.course.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.course.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.course.commitmentDays, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.course.commitmentDays, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.course.commitmentDays, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.course.commitmentHoursPerDay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.course.commitmentHoursPerDay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.course.commitmentHoursPerDay, "", new { @class = "text-danger" })
            </div>
        </div>

        @* for this related information, the controller is making sure ONLY ONE result is sent here*@

        <div class="form-group">
            @Html.LabelFor(model => model.organizationInfo.originAreaID, "Area de Origen", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("organizationInfo.originAreaID", (SelectList)ViewBag.originAreaID, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.organizationInfo.originAreaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.organizationInfo.creationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.organizationInfo.creationDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.organizationInfo.required, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.organizationInfo.required, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.organizationInfo.required, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.organizationInfo.deadline, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.organizationInfo.deadline, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.organizationInfo.deadline, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model.isInternal)
{
    <div>
        @Html.ActionLink("Ir a lista de cursos", "Index")
    </div>
}
else
{
    <div>
        @Html.ActionLink("Ir a lista de cursos", "Index", new { organizationAreaID = Model.organizationInfo.originAreaID })
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
