@model IEnumerable<carEVA.Models.evaBaseUser>

@{
    ViewBag.Title = "usuarios";
}

<h2>Usuarios Externos</h2>


@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "userListInfo"
    }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            @Html.Label("Seleccione el Area", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("externalAreaID", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Consultar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="userListInfo">
    @if (Model.Count() != 0)
    {
        //Use reflection to select send the model to the view
        Type myType = Model.FirstOrDefault().GetType();
        MethodInfo method = typeof(Enumerable).GetMethod("OfType");
        MethodInfo generic = method.MakeGenericMethod(myType);
        var result = (IEnumerable<object>)generic
            .Invoke(null, new object[] { Model });
        @Html.Partial(Model.FirstOrDefault().getIndexViewName, result)
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
}