@model carEVA.ViewModels.carDefensoresPasswordViewModel

@{
    ViewBag.Title = "registro";
}

<h2>Ingrese su Contraseña</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>@Model.userInfo.organizationArea.name - @Model.userInfo.organization.name</h4>
        <h4>@Model.userInfo.fullName - @Model.userInfo.numeroDocumento</h4>
        @Html.HiddenFor(model=>model.userInfo.ID)
        @Html.HiddenFor(model => model.userInfo.edad)
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.confirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Registrar!" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "registerEvaCarDefensoresdelAgua", new {userID = Model.userInfo.ID , idNumber = Model.userInfo.numeroDocumento})
</div>
