@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr/>

@Html.ActionLink("sincronizar contadores de home", "syncScoreCounters")

<hr />

@Html.ActionLink("crear roles", "createRoles")

<hr />

@Html.ActionLink("agregar Instructores", "userToInstructor")

<hr />

@Html.ActionLink("agregar Administradores", "userToAdmin")

<hr />

@Html.ActionLink("estructura de media locators", "locatorTesting")

<hr />

@Html.ActionLink("administrar Inscripciones de los usuarios", "userDataAdmin")

<hr />

@Html.ActionLink("administrar usuarios", "userAdmin")

<hr />