@model IEnumerable<carEVA.Models.evaFile>

@{
    ViewBag.Title = "Index";
}

<h2>Archivos</h2>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@if (ViewBag.viewType == "allItems")
{
    using (Html.BeginForm("Index", "file", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" />
        <input type="submit" value="Cargar" />
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chapter.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lesson.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileURL)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Chapter.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fileURL)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.evaFileID })
                </td>
            </tr>
        }

    </table>
}
else if (ViewBag.viewType == "groupItems")
{
    <h3>
        >> @Html.DisplayFor(model => model.FirstOrDefault().Course.title)
        >>
        @if (Model.FirstOrDefault().Chapter != null)
        {
            @Html.DisplayFor(model => model.FirstOrDefault().Chapter.title)
        }
        >>
        @if (Model.FirstOrDefault().Lesson != null)
        {
            @Html.DisplayFor(model => model.FirstOrDefault().Lesson.title)
        }
    </h3>
    //the only way to get a negative ID is that the controller send a
    //dummy model object.
    if (Model.FirstOrDefault().evaFileID >= 0)
    {
        if (Model.FirstOrDefault().Lesson != null)
        {
            using (Html.BeginForm("Index", "file", new { lessonID = Model.FirstOrDefault().Lesson.LessonID },
                FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="submit" value="Cargar" />
            }
        }
        if (Model.FirstOrDefault().Chapter != null)
        {
            using (Html.BeginForm("Index", "file", new { ChapterID = Model.FirstOrDefault().Chapter.ChapterID },
                FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="submit" value="Cargar" />
            }
        }
        if (Model.FirstOrDefault().Course != null)
        {
            using (Html.BeginForm("Index", "file", new { CourseID = Model.FirstOrDefault().Course.CourseID },
                FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="submit" value="Cargar" />
            }
        }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.fileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fileURL)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fileURL)
                    </td>
                    <td>
                        @if (Model.FirstOrDefault().Lesson != null)
                        {
                            @Html.ActionLink("Delete", "Delete", new
                            {
                                id = item.evaFileID,
                                lessonID = Model.FirstOrDefault().lessonID
                            });
                        }
                        @if (Model.FirstOrDefault().Chapter != null)
                        {
                            @Html.ActionLink("Delete", "Delete", new
                            {
                                id = item.evaFileID,
                                chapterID = Model.FirstOrDefault().chapterID
                            });
                        }
                        @if (Model.FirstOrDefault().Course != null)
                        {
                            @Html.ActionLink("Delete", "Delete", new
                            {
                                id = item.evaFileID,
                                courseID = Model.FirstOrDefault().courseID
                            });
                        }
                        
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <p>No hay Archivos, agregue Archivos buscandolos y luego presionando la opcion de cargar</p>
        if (Model.FirstOrDefault().Lesson != null)
        {
            using (Html.BeginForm("Index", "file",new {lessonID = Model.FirstOrDefault().Lesson .LessonID},
                FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="submit" value="Cargar" />
            }
        }
        if (Model.FirstOrDefault().Chapter != null)
        {
            using (Html.BeginForm("Index", "file", new { ChapterID = Model.FirstOrDefault().Chapter.ChapterID },
                FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="submit" value="Cargar" />
            }
        }
        if (Model.FirstOrDefault().Course != null)
        {
            using (Html.BeginForm("Index", "file", new { CourseID = Model.FirstOrDefault().Course.CourseID },
                FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="submit" value="Cargar" />
            }
        }
    }
}
