@model carEVA.Models.Lesson

@{
    ViewBag.Title = "Nuevo";
}

@section Styles {
    @Styles.Render("~/Content/fileUpload")
    @Styles.Render("~/Content/evaFileUpload")
    @Styles.Render("~/Content/summernote/css")
}

<h2>Nueva Leccion</h2>
<p>Una leccion representa los datos del video y los recursos que componen dicha leccion. 
    para agregar preguntas Use el boton de agregar pregunta</p>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.lessonType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.lessonType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lessonType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.videoURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <span class="btn btn-link fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Seleccione Video ...</span>
                    <input type="file" name="file" class="evaImageSelector" accept="video/mp4" />
                </span>

                <!-- The global progress bar -->
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
                </div>

                <div class="files evaSelectedFile"></div>

                <div >
                    @Html.EditorFor(model => model.videoURL, new { htmlAttributes = new { @class = "form-control evaVideoUrl", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.videoURL, "", new { @class = "text-danger" })
                </div>

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChapterID, "Capitulo al que pertenece", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ChapterID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ChapterID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.interactiveActivityURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.interactiveActivityURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.interactiveActivityURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.activityInstructions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.activityInstructions, new { @class = "form-control input-lg textarea-editor" })
                @Html.ValidationMessageFor(model => model.activityInstructions, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @if (ViewBag.backToID == null)
    {
        @Html.ActionLink("Ir a lista de Lecciones", "Index")
    }
    else
    {
        @Html.ActionLink("Ir a lista de Lecciones", "Index", new { chapterID = ViewBag.backToID })
    }
    
</div>
  

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/fileUpload")
    @Scripts.Render("~/bundles/evaVideoUpload")
    @Scripts.Render("~/bundles/summernote")

    <script type="text/javascript">
        $(document).ready(function () {
            // Initialize the WYSIWYG Editor  
            $('.textarea-editor').summernote({
                height: 300, // set editor height  
                minHeight: null, // set minimum height of editor  
                maxHeight: null, // set maximum height of editor  
                focus: true // set focus to editable area after initializing summernote  
            });
        });
    </script>
}
